
# added timespec on 80MHz interface clock 10/24/2014
  NET "clk" TNM_NET= "clk";
  TIMESPEC "TS_clk" = PERIOD "clk" 12.5 ns HIGH 50%;

#  NET "fwclk" TNM_NET= "fwclk";
#  TIMESPEC "TS_fwclk" = PERIOD "fwclk" 6.25 ns HIGH 50%;
  
#  NET "fwclk" TNM_NET= "fwclk";
#  TIMESPEC "TS_fwclk" = PERIOD "fwclk" 8 ns HIGH 50%;


NET "a_vme[0]" LOC = C3;
NET "a_vme[1]" LOC = E3;
NET "a_vme[2]" LOC = F4;
NET "a_vme[3]" LOC = H3;
NET "a_vme[4]" LOC = H5;
NET "a_vme[5]" LOC = J5;
NET "a_vme[6]" LOC = K3;
NET "a_vme[7]" LOC = L5;
NET "a_vme[8]" LOC = E4;
NET "a_vme[9]" LOC = F3;
NET "a_vme[10]" LOC = G5;
NET "a_vme[11]" LOC = H6;
NET "a_vme[12]" LOC = J3;
NET "a_vme[13]" LOC = G2;
NET "a_vme[14]" LOC = K5;
NET "a_vme[15]" LOC = M4;
NET "a_vme[16]" LOC = P2;
NET "a_vme[17]" LOC = J2;
NET "a_vme[18]" LOC = K2;
NET "a_vme[19]" LOC = J1;
NET "a_vme[20]" LOC = K1;
NET "a_vme[21]" LOC = L2;
NET "a_vme[22]" LOC = M1;
NET "a_vme[23]" LOC = N1;
NET "a_vme[24]" LOC = D15;
NET "a_vme[25]" LOC = E11;
NET "a_vme[26]" LOC = D11;
NET "a_vme[27]" LOC = E10;
NET "a_vme[28]" LOC = E9;
NET "a_vme[29]" LOC = D8;
NET "a_vme[30]" LOC = D14;
NET "a_vme[31]" LOC = A12;
NET "am[0]" LOC = J6;
NET "am[1]" LOC = A3;
NET "am[2]" LOC = K4;
NET "am[3]" LOC = B6;
NET "am[4]" LOC = M3;
NET "am[5]" LOC = F5;
NET "as_n" LOC = G1;
NET "berr_in_n" LOC = F2;
NET "berr_n" LOC = C1;
NET "clk" LOC = T9;

NET "d_vme[0]" LOC = D7;
NET "d_vme[1]" LOC = B7;
NET "d_vme[2]" LOC = C7;
NET "d_vme[3]" LOC = A5;
NET "d_vme[4]" LOC = L3;
NET "d_vme[5]" LOC = H4;
NET "d_vme[6]" LOC = G4;
NET "d_vme[7]" LOC = D1;
NET "d_vme[8]" LOC = C8;
NET "d_vme[9]" LOC = C6;
NET "d_vme[10]" LOC = C4;
NET "d_vme[11]" LOC = A7;
NET "d_vme[12]" LOC = J4;
NET "d_vme[13]" LOC = L4;
NET "d_vme[14]" LOC = G3;
NET "d_vme[15]" LOC = C2;
NET "d_vme[16]" LOC = D9;
NET "d_vme[17]" LOC = A10;
NET "d_vme[18]" LOC = C11;
NET "d_vme[19]" LOC = D10;
NET "d_vme[20]" LOC = E13;
NET "d_vme[21]" LOC = F13;
NET "d_vme[22]" LOC = F12;
NET "d_vme[23]" LOC = F14;
NET "d_vme[24]" LOC = B14;
NET "d_vme[25]" LOC = B13;
NET "d_vme[26]" LOC = C15;
NET "d_vme[27]" LOC = A14;
NET "d_vme[28]" LOC = C16;
NET "d_vme[29]" LOC = A13;
NET "d_vme[30]" LOC = F9;
NET "d_vme[31]" LOC = E8;
NET "adout" LOC = E7;
NET "ds0_n" LOC = D5;
NET "ds1_n" LOC = E6;
NET "dtack_in_n" LOC = D2;
NET "dtack_n" LOC = E1;
NET "iack_n" LOC = A8;
NET "iackin_n" LOC = H1;
NET "iackout_n" LOC = C5;
NET "oe_dtack" LOC = B2;
NET "oe_retry" LOC = A9;
NET "retry_n" LOC = B11;
NET "token_in_p0" LOC = C10;
NET "token_out_p0" LOC = P1;
NET "w_n" LOC = B8;
NET "irq_test_1" LOC = B4;
NET "irq_test_2" LOC = A4;
NET "irq_test_7" LOC = B1;
NET "aoe_n" LOC = D6;
NET "doe_n" LOC = F8;
NET "fq[0]" LOC = T14;
NET "fq[1]" LOC = B16;
NET "fq[2]" LOC = N11;
NET "fq[3]" LOC = N14;
NET "fq[4]" LOC = D16;
NET "fq[5]" LOC = E16;
NET "fq[6]" LOC = G12;
NET "fq[7]" LOC = E14;
NET "fq[8]" LOC = K13;
NET "fq[9]" LOC = H12;
NET "fq[10]" LOC = D12;
NET "fq[11]" LOC = K12;
NET "fq[12]" LOC = J11;
NET "fq[13]" LOC = J12;
NET "fq[14]" LOC = J13;
NET "fq[15]" LOC = J14;
NET "fq[16]" LOC = H13;
NET "fq[17]" LOC = F15;
NET "fq[18]" LOC = G16;
NET "fq[19]" LOC = G15;
NET "fq[20]" LOC = H14;
NET "fq[21]" LOC = H16;
NET "fq[22]" LOC = H15;
NET "fq[23]" LOC = J16;
NET "fq[24]" LOC = K14;
NET "fq[25]" LOC = K15;
NET "fq[26]" LOC = K16;
NET "fq[27]" LOC = M13;
NET "fq[28]" LOC = L14;
NET "fq[29]" LOC = L15;
NET "fq[30]" LOC = M11;
NET "fq[31]" LOC = M16;
NET "fq[32]" LOC = M14;
NET "fq[33]" LOC = T12;
NET "fq[34]" LOC = N16;
NET "fq[35]" LOC = N15;
NET "pclko" LOC = N12;
NET "rclko" LOC = R11;
NET "ren_n" LOC = R10;
NET "absclk" LOC = P5;
NET "absin" LOC = N8;
NET "adacsi" LOC = P9;
NET "asout" LOC = R7;
NET "atid" LOC = P7;
NET "bdacsi" LOC = P4;
NET "bsout" LOC = T7;
NET "btid" LOC = R6;
NET "cclk" LOC = R14;
NET "cso_n" LOC = P3;
NET "dacld" LOC = T8;
NET "dacsclk" LOC = P8;
NET "din" LOC = M9;
NET "fd[16]" LOC = P13;
NET "fd[17]" LOC = R15;
NET "fwclk" LOC = N9;
NET "fwen_n" LOC = N10;
NET "led_drdy_n" LOC = T5;
NET "led_vme_n" LOC = T4;
NET "mosi" LOC = N5;
NET "or_n" LOC = R16;
NET "pae_n" LOC = P16;
NET "paf_n" LOC = P15;
NET "progo_n" LOC = M8;
NET "psclk" LOC = P10;
NET "psin" LOC = G14;
NET "psout" LOC = M10;
NET "selaclk[0]" LOC = G13;
NET "selaclk[1]" LOC = H11;
NET "softrst" LOC = L8;
NET "spare0" LOC = P11;
NET "spare1" LOC = P12;
NET "swphasea" LOC = R4;
NET "swphaseb" LOC = M6;
NET "swphasec" LOC = N6;
NET "swphased" LOC = P6;
NET "vp3r0a_en_n" LOC = N7;
NET "gad" LOC = N2;
NET "d_vme[31]" IOSTANDARD = LVCMOS33;
NET "d_vme[31]" DRIVE = 12;
NET "d_vme[31]" SLEW = SLOW;
NET "d_vme[30]" IOSTANDARD = LVCMOS33;
NET "d_vme[30]" DRIVE = 12;
NET "d_vme[30]" SLEW = SLOW;
NET "d_vme[29]" IOSTANDARD = LVCMOS33;
NET "d_vme[29]" DRIVE = 12;
NET "d_vme[29]" SLEW = SLOW;
NET "d_vme[28]" IOSTANDARD = LVCMOS33;
NET "d_vme[28]" DRIVE = 12;
NET "d_vme[28]" SLEW = SLOW;
NET "d_vme[27]" IOSTANDARD = LVCMOS33;
NET "d_vme[27]" DRIVE = 12;
NET "d_vme[27]" SLEW = SLOW;
NET "d_vme[26]" IOSTANDARD = LVCMOS33;
NET "d_vme[26]" DRIVE = 12;
NET "d_vme[26]" SLEW = SLOW;
NET "d_vme[25]" IOSTANDARD = LVCMOS33;
NET "d_vme[25]" DRIVE = 12;
NET "d_vme[25]" SLEW = SLOW;
NET "d_vme[24]" IOSTANDARD = LVCMOS33;
NET "d_vme[24]" DRIVE = 12;
NET "d_vme[24]" SLEW = SLOW;
NET "d_vme[23]" IOSTANDARD = LVCMOS33;
NET "d_vme[23]" DRIVE = 12;
NET "d_vme[23]" SLEW = SLOW;
NET "d_vme[22]" IOSTANDARD = LVCMOS33;
NET "d_vme[22]" DRIVE = 12;
NET "d_vme[22]" SLEW = SLOW;
NET "d_vme[21]" IOSTANDARD = LVCMOS33;
NET "d_vme[21]" DRIVE = 12;
NET "d_vme[21]" SLEW = SLOW;
NET "d_vme[20]" IOSTANDARD = LVCMOS33;
NET "d_vme[20]" DRIVE = 12;
NET "d_vme[20]" SLEW = SLOW;
NET "d_vme[19]" IOSTANDARD = LVCMOS33;
NET "d_vme[19]" DRIVE = 12;
NET "d_vme[19]" SLEW = SLOW;
NET "d_vme[18]" IOSTANDARD = LVCMOS33;
NET "d_vme[18]" DRIVE = 12;
NET "d_vme[18]" SLEW = SLOW;
NET "d_vme[17]" IOSTANDARD = LVCMOS33;
NET "d_vme[17]" DRIVE = 12;
NET "d_vme[17]" SLEW = SLOW;
NET "d_vme[16]" IOSTANDARD = LVCMOS33;
NET "d_vme[16]" DRIVE = 12;
NET "d_vme[16]" SLEW = SLOW;
NET "d_vme[15]" IOSTANDARD = LVCMOS33;
NET "d_vme[15]" DRIVE = 12;
NET "d_vme[15]" SLEW = SLOW;
NET "d_vme[14]" IOSTANDARD = LVCMOS33;
NET "d_vme[14]" DRIVE = 12;
NET "d_vme[14]" SLEW = SLOW;
NET "d_vme[13]" IOSTANDARD = LVCMOS33;
NET "d_vme[13]" DRIVE = 12;
NET "d_vme[13]" SLEW = SLOW;
NET "d_vme[12]" IOSTANDARD = LVCMOS33;
NET "d_vme[12]" DRIVE = 12;
NET "d_vme[12]" SLEW = SLOW;
NET "d_vme[11]" IOSTANDARD = LVCMOS33;
NET "d_vme[11]" DRIVE = 12;
NET "d_vme[11]" SLEW = SLOW;
NET "d_vme[10]" IOSTANDARD = LVCMOS33;
NET "d_vme[10]" DRIVE = 12;
NET "d_vme[10]" SLEW = SLOW;
NET "d_vme[9]" IOSTANDARD = LVCMOS33;
NET "d_vme[9]" DRIVE = 12;
NET "d_vme[9]" SLEW = SLOW;
NET "d_vme[8]" IOSTANDARD = LVCMOS33;
NET "d_vme[8]" DRIVE = 12;
NET "d_vme[8]" SLEW = SLOW;
NET "d_vme[7]" IOSTANDARD = LVCMOS33;
NET "d_vme[7]" DRIVE = 12;
NET "d_vme[7]" SLEW = SLOW;
NET "d_vme[6]" IOSTANDARD = LVCMOS33;
NET "d_vme[6]" DRIVE = 12;
NET "d_vme[6]" SLEW = SLOW;
NET "d_vme[5]" IOSTANDARD = LVCMOS33;
NET "d_vme[5]" DRIVE = 12;
NET "d_vme[5]" SLEW = SLOW;
NET "d_vme[4]" IOSTANDARD = LVCMOS33;
NET "d_vme[4]" DRIVE = 12;
NET "d_vme[4]" SLEW = SLOW;
NET "d_vme[3]" IOSTANDARD = LVCMOS33;
NET "d_vme[3]" DRIVE = 12;
NET "d_vme[3]" SLEW = SLOW;
NET "d_vme[2]" IOSTANDARD = LVCMOS33;
NET "d_vme[2]" DRIVE = 12;
NET "d_vme[2]" SLEW = SLOW;
NET "d_vme[1]" IOSTANDARD = LVCMOS33;
NET "d_vme[1]" DRIVE = 12;
NET "d_vme[1]" SLEW = SLOW;
NET "d_vme[0]" IOSTANDARD = LVCMOS33;
NET "d_vme[0]" DRIVE = 12;
NET "d_vme[0]" SLEW = SLOW;
NET "a_vme[31]" IOSTANDARD = LVCMOS33;
NET "a_vme[31]" DRIVE = 12;
NET "a_vme[31]" SLEW = SLOW;
NET "a_vme[30]" IOSTANDARD = LVCMOS33;
NET "a_vme[30]" DRIVE = 12;
NET "a_vme[30]" SLEW = SLOW;
NET "a_vme[29]" IOSTANDARD = LVCMOS33;
NET "a_vme[29]" DRIVE = 12;
NET "a_vme[29]" SLEW = SLOW;
NET "a_vme[28]" IOSTANDARD = LVCMOS33;
NET "a_vme[28]" DRIVE = 12;
NET "a_vme[28]" SLEW = SLOW;
NET "a_vme[27]" IOSTANDARD = LVCMOS33;
NET "a_vme[27]" DRIVE = 12;
NET "a_vme[27]" SLEW = SLOW;
NET "a_vme[26]" IOSTANDARD = LVCMOS33;
NET "a_vme[26]" DRIVE = 12;
NET "a_vme[26]" SLEW = SLOW;
NET "a_vme[25]" IOSTANDARD = LVCMOS33;
NET "a_vme[25]" DRIVE = 12;
NET "a_vme[25]" SLEW = SLOW;
NET "a_vme[24]" IOSTANDARD = LVCMOS33;
NET "a_vme[24]" DRIVE = 12;
NET "a_vme[24]" SLEW = SLOW;
NET "a_vme[23]" IOSTANDARD = LVCMOS33;
NET "a_vme[23]" DRIVE = 12;
NET "a_vme[23]" SLEW = SLOW;
NET "a_vme[22]" IOSTANDARD = LVCMOS33;
NET "a_vme[22]" DRIVE = 12;
NET "a_vme[22]" SLEW = SLOW;
NET "a_vme[21]" IOSTANDARD = LVCMOS33;
NET "a_vme[21]" DRIVE = 12;
NET "a_vme[21]" SLEW = SLOW;
NET "a_vme[20]" IOSTANDARD = LVCMOS33;
NET "a_vme[20]" DRIVE = 12;
NET "a_vme[20]" SLEW = SLOW;
NET "a_vme[19]" IOSTANDARD = LVCMOS33;
NET "a_vme[19]" DRIVE = 12;
NET "a_vme[19]" SLEW = SLOW;
NET "a_vme[18]" IOSTANDARD = LVCMOS33;
NET "a_vme[18]" DRIVE = 12;
NET "a_vme[18]" SLEW = SLOW;
NET "a_vme[17]" IOSTANDARD = LVCMOS33;
NET "a_vme[17]" DRIVE = 12;
NET "a_vme[17]" SLEW = SLOW;
NET "a_vme[16]" IOSTANDARD = LVCMOS33;
NET "a_vme[16]" DRIVE = 12;
NET "a_vme[16]" SLEW = SLOW;
NET "a_vme[15]" IOSTANDARD = LVCMOS33;
NET "a_vme[15]" DRIVE = 12;
NET "a_vme[15]" SLEW = SLOW;
NET "a_vme[14]" IOSTANDARD = LVCMOS33;
NET "a_vme[14]" DRIVE = 12;
NET "a_vme[14]" SLEW = SLOW;
NET "a_vme[13]" IOSTANDARD = LVCMOS33;
NET "a_vme[13]" DRIVE = 12;
NET "a_vme[13]" SLEW = SLOW;
NET "a_vme[12]" IOSTANDARD = LVCMOS33;
NET "a_vme[12]" DRIVE = 12;
NET "a_vme[12]" SLEW = SLOW;
NET "a_vme[11]" IOSTANDARD = LVCMOS33;
NET "a_vme[11]" DRIVE = 12;
NET "a_vme[11]" SLEW = SLOW;
NET "a_vme[10]" IOSTANDARD = LVCMOS33;
NET "a_vme[10]" DRIVE = 12;
NET "a_vme[10]" SLEW = SLOW;
NET "a_vme[9]" IOSTANDARD = LVCMOS33;
NET "a_vme[9]" DRIVE = 12;
NET "a_vme[9]" SLEW = SLOW;
NET "a_vme[8]" IOSTANDARD = LVCMOS33;
NET "a_vme[8]" DRIVE = 12;
NET "a_vme[8]" SLEW = SLOW;
NET "a_vme[7]" IOSTANDARD = LVCMOS33;
NET "a_vme[7]" DRIVE = 12;
NET "a_vme[7]" SLEW = SLOW;
NET "a_vme[6]" IOSTANDARD = LVCMOS33;
NET "a_vme[6]" DRIVE = 12;
NET "a_vme[6]" SLEW = SLOW;
NET "a_vme[5]" IOSTANDARD = LVCMOS33;
NET "a_vme[5]" DRIVE = 12;
NET "a_vme[5]" SLEW = SLOW;
NET "a_vme[4]" IOSTANDARD = LVCMOS33;
NET "a_vme[4]" DRIVE = 12;
NET "a_vme[4]" SLEW = SLOW;
NET "a_vme[3]" IOSTANDARD = LVCMOS33;
NET "a_vme[3]" DRIVE = 12;
NET "a_vme[3]" SLEW = SLOW;
NET "a_vme[2]" IOSTANDARD = LVCMOS33;
NET "a_vme[2]" DRIVE = 12;
NET "a_vme[2]" SLEW = SLOW;
NET "a_vme[1]" IOSTANDARD = LVCMOS33;
NET "a_vme[1]" DRIVE = 12;
NET "a_vme[1]" SLEW = SLOW;
NET "a_vme[0]" IOSTANDARD = LVCMOS33;
NET "a_vme[0]" DRIVE = 12;
NET "a_vme[0]" SLEW = SLOW;
NET "selaclk[1]" IOSTANDARD = LVCMOS33;
NET "selaclk[1]" DRIVE = 12;
NET "selaclk[1]" SLEW = SLOW;
NET "selaclk[0]" IOSTANDARD = LVCMOS33;
NET "selaclk[0]" DRIVE = 12;
NET "selaclk[0]" SLEW = SLOW;
NET "am[5]" IOSTANDARD = LVCMOS33;
NET "am[4]" IOSTANDARD = LVCMOS33;
NET "am[3]" IOSTANDARD = LVCMOS33;
NET "am[2]" IOSTANDARD = LVCMOS33;
NET "am[1]" IOSTANDARD = LVCMOS33;
NET "am[0]" IOSTANDARD = LVCMOS33;
NET "fd[17]" IOSTANDARD = LVCMOS25;
NET "fd[16]" IOSTANDARD = LVCMOS25;
NET "fq[35]" IOSTANDARD = LVCMOS25;
NET "fq[34]" IOSTANDARD = LVCMOS25;
NET "fq[33]" IOSTANDARD = LVCMOS25;
NET "fq[32]" IOSTANDARD = LVCMOS25;
NET "fq[31]" IOSTANDARD = LVCMOS25;
NET "fq[30]" IOSTANDARD = LVCMOS25;
NET "fq[29]" IOSTANDARD = LVCMOS25;
NET "fq[28]" IOSTANDARD = LVCMOS25;
NET "fq[27]" IOSTANDARD = LVCMOS25;
NET "fq[26]" IOSTANDARD = LVCMOS25;
NET "fq[25]" IOSTANDARD = LVCMOS25;
NET "fq[24]" IOSTANDARD = LVCMOS25;
NET "fq[23]" IOSTANDARD = LVCMOS25;
NET "fq[22]" IOSTANDARD = LVCMOS25;
NET "fq[21]" IOSTANDARD = LVCMOS25;
NET "fq[20]" IOSTANDARD = LVCMOS25;
NET "fq[19]" IOSTANDARD = LVCMOS25;
NET "fq[18]" IOSTANDARD = LVCMOS25;
NET "fq[17]" IOSTANDARD = LVCMOS25;
NET "fq[16]" IOSTANDARD = LVCMOS25;
NET "fq[15]" IOSTANDARD = LVCMOS25;
NET "fq[14]" IOSTANDARD = LVCMOS25;
NET "fq[13]" IOSTANDARD = LVCMOS25;
NET "fq[12]" IOSTANDARD = LVCMOS25;
NET "fq[11]" IOSTANDARD = LVCMOS25;
NET "fq[10]" IOSTANDARD = LVCMOS25;
NET "fq[9]" IOSTANDARD = LVCMOS25;
NET "fq[8]" IOSTANDARD = LVCMOS25;
NET "fq[7]" IOSTANDARD = LVCMOS25;
NET "fq[6]" IOSTANDARD = LVCMOS25;
NET "fq[5]" IOSTANDARD = LVCMOS25;
NET "fq[4]" IOSTANDARD = LVCMOS25;
NET "fq[3]" IOSTANDARD = LVCMOS25;
NET "fq[2]" IOSTANDARD = LVCMOS25;
NET "fq[1]" IOSTANDARD = LVCMOS25;
NET "fq[0]" IOSTANDARD = LVCMOS25;
NET "atid" IOSTANDARD = LVCMOS25;
NET "atid" DRIVE = 4;
NET "atid" SLEW = SLOW;
NET "atid" PULLUP;
NET "btid" IOSTANDARD = LVCMOS25;
NET "btid" DRIVE = 4;
NET "btid" SLEW = SLOW;
NET "btid" PULLUP;
NET "softrst" IOSTANDARD = LVCMOS25;
NET "softrst" DRIVE = 12;
NET "softrst" SLEW = SLOW;
NET "token_in_p0" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS25;
NET "ds0_n" IOSTANDARD = LVCMOS33;
NET "fwclk" IOSTANDARD = LVCMOS25;
NET "paf_n" IOSTANDARD = LVCMOS25;
NET "din" IOSTANDARD = LVCMOS25;
NET "din" PULLUP;
NET "iackout_n" IOSTANDARD = LVCMOS33;
NET "iackout_n" DRIVE = 12;
NET "iackout_n" SLEW = SLOW;
NET "asout" IOSTANDARD = LVCMOS25;
NET "asout" PULLUP;
NET "w_n" IOSTANDARD = LVCMOS33;
NET "rclko" IOSTANDARD = LVCMOS25;
NET "rclko" DRIVE = 12;
NET "rclko" SLEW = FAST;
NET "oe_dtack" IOSTANDARD = LVCMOS33;
NET "oe_dtack" DRIVE = 16;
NET "oe_dtack" SLEW = FAST;
NET "iackin_n" IOSTANDARD = LVCMOS33;
NET "bdacsi" IOSTANDARD = LVCMOS25;
NET "bdacsi" DRIVE = 12;
NET "bdacsi" SLEW = SLOW;
NET "ds1_n" IOSTANDARD = LVCMOS33;
NET "doe_n" IOSTANDARD = LVCMOS33;
NET "doe_n" DRIVE = 12;
NET "doe_n" SLEW = SLOW;
NET "ren_n" IOSTANDARD = LVCMOS25;
NET "ren_n" DRIVE = 12;
NET "ren_n" SLEW = SLOW;
NET "token_out_p0" IOSTANDARD = LVCMOS33;
NET "token_out_p0" DRIVE = 12;
NET "token_out_p0" SLEW = SLOW;
NET "gad" IOSTANDARD = LVCMOS33;
NET "absin" IOSTANDARD = LVCMOS25;
NET "absin" DRIVE = 12;
NET "absin" SLEW = SLOW;
NET "dacld" IOSTANDARD = LVCMOS25;
NET "dacld" DRIVE = 12;
NET "dacld" SLEW = SLOW;
NET "progo_n" IOSTANDARD = LVCMOS25;
NET "progo_n" DRIVE = 12;
NET "progo_n" SLEW = SLOW;
NET "retry_n" IOSTANDARD = LVCMOS33;
NET "retry_n" DRIVE = 12;
NET "retry_n" SLEW = FAST;
NET "bsout" IOSTANDARD = LVCMOS25;
NET "bsout" PULLUP;
NET "adout" IOSTANDARD = LVCMOS33;
NET "adout" DRIVE = 12;
NET "adout" SLEW = SLOW;
NET "dacsclk" IOSTANDARD = LVCMOS25;
NET "dacsclk" DRIVE = 12;
NET "dacsclk" SLEW = SLOW;
NET "cclk" IOSTANDARD = LVCMOS25;
NET "cclk" DRIVE = 12;
NET "cclk" SLEW = SLOW;
NET "vp3r0a_en_n" IOSTANDARD = LVCMOS25;
NET "vp3r0a_en_n" DRIVE = 12;
NET "vp3r0a_en_n" SLEW = SLOW;
NET "iack_n" IOSTANDARD = LVCMOS33;
NET "aoe_n" IOSTANDARD = LVCMOS33;
NET "aoe_n" DRIVE = 12;
NET "aoe_n" SLEW = SLOW;
NET "led_vme_n" IOSTANDARD = LVCMOS25;
NET "led_vme_n" DRIVE = 4;
NET "led_vme_n" SLEW = SLOW;
NET "berr_in_n" IOSTANDARD = LVCMOS33;
NET "mosi" IOSTANDARD = LVCMOS25;
NET "mosi" DRIVE = 12;
NET "mosi" SLEW = SLOW;
NET "dtack_in_n" IOSTANDARD = LVCMOS33;
NET "or_n" IOSTANDARD = LVCMOS25;
NET "pclko" IOSTANDARD = LVCMOS25;
NET "pclko" DRIVE = 12;
NET "pclko" SLEW = FAST;
NET "swphasea" IOSTANDARD = LVCMOS25;
NET "swphasea" DRIVE = 6;
NET "swphasea" SLEW = SLOW;
NET "swphaseb" IOSTANDARD = LVCMOS25;
NET "swphaseb" DRIVE = 6;
NET "swphaseb" SLEW = SLOW;
NET "swphasec" IOSTANDARD = LVCMOS25;
NET "swphasec" DRIVE = 6;
NET "swphasec" SLEW = SLOW;
NET "oe_retry" IOSTANDARD = LVCMOS33;
NET "oe_retry" DRIVE = 16;
NET "oe_retry" SLEW = FAST;
NET "swphased" IOSTANDARD = LVCMOS25;
NET "swphased" DRIVE = 6;
NET "swphased" SLEW = SLOW;
NET "berr_n" IOSTANDARD = LVCMOS33;
NET "berr_n" DRIVE = 16;
NET "berr_n" SLEW = FAST;
NET "psout" IOSTANDARD = LVCMOS25;
NET "led_drdy_n" IOSTANDARD = LVCMOS25;
NET "led_drdy_n" DRIVE = 4;
NET "led_drdy_n" SLEW = SLOW;
NET "as_n" IOSTANDARD = LVCMOS33;
NET "spare0" IOSTANDARD = LVCMOS25;
NET "spare0" DRIVE = 8;
NET "spare0" SLEW = FAST;
NET "spare1" IOSTANDARD = LVCMOS25;
NET "spare1" PULLUP;
NET "dtack_n" IOSTANDARD = LVCMOS33;
NET "dtack_n" DRIVE = 12;
NET "dtack_n" SLEW = FAST;
NET "fwen_n" IOSTANDARD = LVCMOS25;
NET "cso_n" IOSTANDARD = LVCMOS25;
NET "cso_n" DRIVE = 12;
NET "cso_n" SLEW = SLOW;
NET "psclk" IOSTANDARD = LVCMOS25;
NET "psclk" DRIVE = 12;
NET "psclk" SLEW = SLOW;
NET "psin" IOSTANDARD = LVCMOS33;
NET "psin" DRIVE = 12;
NET "psin" SLEW = SLOW;
NET "irq_test_1" IOSTANDARD = LVCMOS33;
NET "irq_test_1" DRIVE = 16;
NET "irq_test_1" SLEW = SLOW;
NET "irq_test_2" IOSTANDARD = LVCMOS33;
NET "irq_test_2" DRIVE = 16;
NET "irq_test_2" SLEW = SLOW;
NET "pae_n" IOSTANDARD = LVCMOS25;
NET "adacsi" IOSTANDARD = LVCMOS25;
NET "adacsi" DRIVE = 12;
NET "adacsi" SLEW = SLOW;
NET "absclk" IOSTANDARD = LVCMOS25;
NET "absclk" DRIVE = 12;
NET "absclk" SLEW = SLOW;
NET "irq_test_7" IOSTANDARD = LVCMOS33;
NET "irq_test_7" DRIVE = 16;
NET "irq_test_7" SLEW = SLOW;
